{% extends 'employee-base.html' %}

{% block content %}
<h1>References</h1>
<div>
    <h2>How to:</h2>
    <ul>
        <a href="/references/remove-accounts.txt"> <li> How to remove old employee accounts</li></a>
        <a href="/references/create-accounts.txt"> <li> How to create new employee accounts</li></a>
        <a href="/references/submit-reports.txt"> <li> How to submit progress reports</li></a>
    </ul>
</div>

<div>
    <h2>Documents:</h2>
    <ul>
        <a href="/references/oldAccounts.txt"> <li> Old employee accounts</li></a>
        <a href="/references/forSale.txt"> <li> New items for sale</li></a>
    </ul>
</div>


{% endblock content %}