{% extends 'base.html' %}

{% block content %}
    <div id="form">
        <h1>Log In</h1>
        <form action="php/login.php" method="get">
            <label for="uname">Username:</label>
            <br>
            <input name="uname" id="uname" type="text">
            <br>
            <label for="passwd">Password:</label>
            <br>
            <input name="passwd" id="passwd" type="text">
            <br>
            <input type="submit" value="Log In">
        </form>
    </div>
{% endblock content %}