{% extends 'base.html' %}

{% block content %}
    <div id="form">
        <h1>Create an Account</h1>
        <form action="php/signup.php" method="post">
            <label for="uname">Enter a Username:</label>
            <br>
            <input name="uname" id="uname" type="text">
            <br>
            <label for="passwd">Enter a Password:</label>
            <br>
            <input name="passwd" id="passwd" type="text">
            <br>
            <input type="submit" value="Create Account">
        </form>
    </div>
{% endblock content %}